.container {
  text-align: center;
  color: #131b39;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-feature-settings: "cv05";
  -webkit-box-direction: normal;
  background-color: #f0f1f5;
  min-height: 100vh;
  padding: 40px 20px;
}
